################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sonarTest/bin
/packages
/sonarTest/obj
/sonarTest/App_Data

/.vs
/.vs/*
/.sonarqube
/.vs/sonarTest



